ASV_CONNECTION_STRING=/dev/ttyACM0
ASV_BAUDRATE=115200

# ========================
# BACKEND (IP Laptop Base Station)
# ========================
ASV_WS_URL=ws://[IP_ADDRESS]/api/v1/ws/asv
ASV_VIDEO_URL=http://[IP_ADDRESS]/api/v1/video/upload
ASV_PID_CONFIG_URL=http://[IP_ADDRESS]/api/v1/pid-config